.left-wrapper{
    width: 25%;
    height: 100vh;
    background-color: blue;
    margin-left: 50px;
}
.user-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
}
.post-data,
.followers-data,
.following-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 30px;
    background-color: blueviolet;
}
.post-data h1,
.followers-data h1,
.following-data h1{
    font-size: 15px;
}
.post-data h2,
.followers-data h2,
.following-data h2{
    font-size: 15px;
}
