.left-wrapper {
    width: 100%; 
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.left-content{
    border: 1px solid lightgray;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
}

.leftside {
    margin-left: 50px;
}

.left-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left-profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.personal-details {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
.post-details,
.following-details,
.followers-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}

.post-details h2,
.following-details h2,
.followers-details h2{
    font-size: 20px;
}
.post-details h1,
.following-details h1,
.followers-details h1{
    font-size: 25px;
}
.active_list{
    /* overflow: scroll; */
}
