.middle-content{
    width: 45%;
    border: 1px solid lightgray;
}
.search_bar{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.search_bar input{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}